<nav class="navbar navbar-expand-lg navbar-light p-2">
  <a class="navbar-brand" href="#">Restaurant Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="add" class="nav-item nav-link">Add Restaurant</a>
      <a routerLink="update" class="nav-item nav-link">Update Restaurant</a>
      <a routerLink="list" class="nav-item nav-link">List Restaurant</a>
      <a routerLink="login" class="nav-item nav-link">Login User</a>
      <a routerLink="register" class="nav-item nav-link">Register</a>
    </div>
  </div>
</nav>  
<router-outlet></router-outlet>